<!DOCTYPE html>
<html>
<head>
  <title>PostMapper</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- facebook open graph -->
  <meta property="og:url"                content="http://www.post-mapper.herokuapp.com" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="PostMapper" />
  <meta property="og:description"        content="View geolocations of posts for you and your friends" />
  <!-- TODO -->
  <!-- <meta property="og:image"              content="" /> -->

  <!-- facebook sdk -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '616729855165047',
        xfbml      : true,
        version    : 'v2.7'
      });
    };

    (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
 </script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'PostMapper', root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar">
        <% if current_user %>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Facebook Login', '/auth/facebook' %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>


    <%= yield %>
  </div>

  <footer class="footer">
    <!-- facebook like button -->
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
  </footer>

</body>
</html>
